<mat-toolbar *ngIf="isPortrait" class="custom-toolbar">
    <span>INNER</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button (click)="toScreen04()">
        Next
    </button>
</mat-toolbar>
<!-- <img id="btphoto_pose1" class="custom-img-btphoto" src="assets/images/btphoto.png" /> -->
<div id="div_vid_pose1" class="custom-div-pose1">
    <img id="btphoto_pose1a" class="custom-img-btphoto1a" src="assets/images/btphoto.png" />
    <video id="vid_pose1" autoPlay="true" muted="true" playsInline="true"></video>
    <img id="btphoto_pose1b" class="custom-img-btphoto1b" src="assets/images/btphoto.png" />
</div>



