<!-- <mat-toolbar *ngIf="isPortrait" class="custom-toolbar"> -->
<mat-toolbar class="custom-toolbar">
    <span>APP82</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button (click)="toScreen02es()">{{mytext_es}}</button>
    <button mat-button (click)="toScreen02en()">{{mytext_en}}</button>
</mat-toolbar>
<br><br><br><br>
<span class="span-custom">{{mytext_app}}</span>
<br><br><br><br>
<span class="span-custom">{{mytext_selectLanguage01}}</span>
<br><br>
<span class="span-custom">{{mytext_selectLanguage02}}</span>

